<%- include("partials/header.ejs") %>
    
    <!--Welcome-->
    <section>
        <div class="p-horizontal-center">
            <h1 class="white-text">Hello <span class="round-borders <% if (locals.username) { %>
            offyellow-background black-text
            <% } %>"><% if (locals.username) { %>
                <%=locals.username%><% } else { %> World<% } %></span>!</h1>
        </div>
        <div class="p-horizontal-center">
            <h2 class="brown-text">Explore Open Secrets!</h2>
        </div>
    </section>

<%- include("partials/public-posts.ejs") %>

<%- include("partials/footer.ejs") %>