<%- include("partials/header.ejs") %>
    
    <!--Welcome-->
    <section>
        <div class="p-horizontal-center">
            <h1 class="white-text">Hello <% if (locals.username) { %>
             <%=locals.username%>
            <% } else { %> World<% } %>!</h1>
        </div>
    </section>


<%- include("partials/footer.ejs") %>