<%- include("partials/header.ejs") %>

<section>
    <container class="p-horizontal-center">
        <form>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="username" class="p-form-input form-control" name="username" aria-describedby="emailHelp">
              <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="p-form-input form-control" name="email" aria-describedby="emailHelp">
              <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="p-form-input form-control" name="password">
            </div>
            <button type="submit" class="btn blue-background white-text">Register</button>
        </form>
    </container>
</section>

<%- include("partials/footer.ejs") %>