<%- include("partials/header.ejs") %>

<section class="p-horizontal-center">
    <container class="container">
        <div class="row p-horizontal-center">
            <!--Secrets-->
            <div class="col-md-4 col-sm-6 col-xs-12 p-secret-div">
                <h1> hi</h1>
            </div>
        </div>
    </container>
</section>

<%- include("partials/footer.ejs") %>