body {
    font-family: "Nunito", serif;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(white 0.5px, Tomato 0.5px);
    background-size: 10px 10px;
}

h1 {
    font-size: 80px;
}

section {
    margin-top: 70px;
}

.p-horizontal-center {
    display: flex;
    justify-content: center;
}

.p-no-padding {
    padding: 0px;
}

.p-form-input {

}

form {

}

.p-secret-div {
    height:350px;
    width: 300px;
    margin: 30px;
    padding: 28px;
    border-width: 1px;
    background-color: lightgray;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.p-flex-row {
    display: flex;
    gap: 10px;
}

.p-comment-options {
    align-self:flex-end;
    justify-self: flex-end;
}

.round-borders {
    border-radius: 24px;
}

.p-garbage-icon {
    color: tomato;
}

.p-pencil-icon {
    color: dodgerblue;
}

.p-comments-div {
    height:auto;
    width: 300px;
    margin: 30px;
    padding: 28px;
    width: 400px;
    margin-left: 65px;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.p-username-comment {
    font-weight: bolder;
    font-size: larger;
}

.p-strip-button {
    border: none;
    padding: 0px;
    margin: 0px;
}

.p-vertical-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.p-comment-input {
    width: 88%;
    height: 35px;
}

.p-secret-input {
    width: 400px;
    height: 300px;
}

.p-welcome-div {
    width: 500px;
}

.p-flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.p-like-count {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}

.p-likes-div {
    gap: 2px;
}

.welcome-message {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.nav-div {
    background-color: orange;
}

.author {
    /* flex end didn't work */
}

.navbar {
    font-size: larger;
}

.height-70 {
    height: 70px;
}

/* Responsiveness work */

@media (max-width: 500px) {
h1 {
    font-size: 50px;
}
}

@media (max-width: 991px) {
    .nav-div {
        background: tomato;
    }
}

@media (max-width: 767px) {
    .p-welcome-div {
        flex-direction: column;
        align-items: center;
    }    
}

