body {
    font-family: "Nunito", serif;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(white 0.5px, Tomato 0.5px);
    background-size: 10px 10px;
}

h1 {
    font-size: 80px;
}

section {
    margin-top: 70px;
}

.p-horizontal-center {
    display: flex;
    justify-content: center;
}

.p-no-padding {
    padding: 0px;
}

.p-form-input {

}

form {

}

.p-secret-div {
    height: 270px;
    width: 300px;
    margin: 30px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 1px;
    background-color: lightgray;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.author {
    /* flex end didn't work */
}

.navbar {
    font-size: larger;
}

.height-70 {
    height: 70px;
}